*
    padding: 0
    margin: 0
    box-sizing: border-box
label
    color: #FAF8F2
    font-family: 'Roboto', sans-serif
    font-size: 20
    font-weight: 200
main
    min-height: 100%
    background-image: url(/src/assets/img/background.png)
    background-size: 100%
    background-repeat: no-repeat
    background-position: center center
    background-color: #FAF8F2
html
    min-height: 100%

body
    height: 100vh

a
    list-style: none
    text-decoration: none
    color: white

ul
    list-style: none
    text-decoration: none

p
    font-family: 'Roboto',sans-serif
    font-weight: light
    font-size: 14
    line-height: 24px
h1
    font-family: 'Roboto Slab', serif
    font-size: 46
    font-weight: 400
h2
    font-family: 'Roboto Slab', serif
    color: #d04747
    font-weight: 300
    font-size: 44
h3
    font-family: 'Roboto Slab', serif
    color: #d04747
    font-weight: 400
    font-size: 40
h4
    font-family: 'Roboto', sans-serif
    color: #d04747
    font-size: 36
    font-weight: 200
h5
    font-family: 'Roboto', sans-serif
    color: #000000f6
    font-size: 33
    font-weight: 200
